In [1]:
import pandas as pd
import numpy as np

    df.data= pd.to_datetime(df.data, format='%Y%m%d%H%M%S')
    df['day'] = df['data'].dt.day
    df['Hour'] = df['data'].dt.hour
    df['Minute'] = df['data'].dt.minute
    df['Year'] = df['data'].dt.year
    df['Month'] = df['data'].dt.month
    
    Year=df.Year.unique()[0]
    Month=df.Month.unique()[0]
    Day=df.day.unique()[0]

## Todos dados

dados=pd.DataFrame()
for i in range(1,21):
    teste=pd.read_json('weighings_partition'+str(i)+'.json')#+str(i)
    dados=dados.append(teste, ignore_index=True)

dados.to_csv('all_weighings_full.csv')

In [2]:
dados=pd.read_csv('all_weighings_full.csv').drop(['Unnamed: 0','cellId_0','cellId_1','cellId_2','cellId_3','cellId_4','cellId_5','cellId_6','cellId_7'], axis=1)

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3,8,11,14,17,20,23,26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
dados.head()

In [3]:
dados['cellSerialNumber_0']=dados['cellSerialNumber_0'].fillna(0)
dados['cellSerialNumber_1']=dados['cellSerialNumber_1'].fillna(0)
dados['cellSerialNumber_2']=dados['cellSerialNumber_2'].fillna(0)
dados['cellSerialNumber_3']=dados['cellSerialNumber_3'].fillna(0)
dados['cellSerialNumber_4']=dados['cellSerialNumber_4'].fillna(0)
dados['cellSerialNumber_5']=dados['cellSerialNumber_5'].fillna(0)
dados['cellSerialNumber_6']=dados['cellSerialNumber_6'].fillna(0)
dados['cellSerialNumber_7']=dados['cellSerialNumber_7'].fillna(0)

In [4]:
clean0=dados['cellSerialNumber_0'].tolist()
clean1=dados['cellSerialNumber_1'].tolist()
clean2=dados['cellSerialNumber_2'].tolist()
clean3=dados['cellSerialNumber_3'].tolist()
clean4=dados['cellSerialNumber_4'].tolist()
clean5=dados['cellSerialNumber_5'].tolist()
clean6=dados['cellSerialNumber_6'].tolist()
clean7=dados['cellSerialNumber_7'].tolist()

In [ ]:
(clean3)

In [ ]:
convert_first_to_generator = (str(w) for w in clean3)

In [ ]:
convert_first_to_generator

In [ ]:
int_arr = list(range(10))
convert_first_to_generator = (str(w) for w in int_arr)
print(''.join(convert_first_to_generator))

In [ ]:
(int_arr)

In [ ]:
clean4=[str(i) for i in clean4]

In [ ]:
teste

In [ ]:
for i in range(0, len(clean0)):    
    if clean4[i][0] == '0' and len(clean4[i])>1:
        clean4[i]=clean4[i][1:]

In [ ]:
clean4[3][0] == '0' and len(clean4[3])>1

In [ ]:
clean4

In [ ]:
str(int(clean7[0]))

In [5]:
for i in range(0, len(clean0)):
    if type(clean0[i]) == float:
        clean0[i]=str(int(clean0[i]))
    if type(clean1[i]) == float:
        clean1[i]=str(int(clean1[i]))
    if type(clean2[i]) == float:
        clean2[i]=str(int(clean2[i]))
    if type(clean3[i]) == float:
        clean3[i]=str(int(clean3[i]))
    if type(clean4[i]) == float:
        clean4[i]=str(int(clean4[i]))
    if type(clean5[i]) == float:
        clean5[i]=str(int(clean5[i]))
    if type(clean6[i]) == float:
        clean6[i]=str(int(clean6[i]))
    if type(clean7[i]) == float:
        clean7[i]=str(int(clean7[i]))

In [6]:
clean0=[str(i) for i in clean0]
clean1=[str(i) for i in clean1]
clean2=[str(i) for i in clean2]
clean3=[str(i) for i in clean3]
clean4=[str(i) for i in clean4]
clean5=[str(i) for i in clean5]
clean6=[str(i) for i in clean6]
clean7=[str(i) for i in clean7]

In [7]:
for i in range(0, len(clean0)):
    if clean0[i][0] == '0' and len(clean0[i])>1:
        clean0[i]=clean0[i][1:]
    if clean1[i][0] == '0'and len(clean1[i])>1:
        clean1[i]=clean1[i][1:]
    if clean2[i][0] == '0' and len(clean2[i])>1:
        clean2[i]=clean2[i][1:]
    if clean3[i][0] == '0'and len(clean3[i])>1:
        clean3[i]=clean3[i][1:]
    if clean4[i][0] == '0'and len(clean4[i])>1:
        clean4[i]=clean4[i][1:]
    if clean5[i][0] == '0'and len(clean5[i])>1:
        clean5[i]=clean5[i][1:]
    if clean6[i][0] == '0'and len(clean6[i])>1:
        clean6[i]=clean6[i][1:]
    if clean7[i][0] == '0'and len(clean7[i])>1:
        clean7[i]=clean7[i][1:]

In [8]:
dados['cellSerialNumber_0']=clean0
dados['cellSerialNumber_1']=clean1
dados['cellSerialNumber_2']=clean2
dados['cellSerialNumber_3']=clean3
dados['cellSerialNumber_4']=clean4
dados['cellSerialNumber_5']=clean5
dados['cellSerialNumber_6']=clean6
dados['cellSerialNumber_7']=clean7

In [ ]:
dados.head()

In [ ]:
dados['cellSerialNumber_7'].unique()

for i in range(0, dados.shape[0]+1):
    if type(dados['cellSerialNumber_0'][i]) == float:
        dados['cellSerialNumber_0'][i]=str(int(dados['cellSerialNumber_0'][i]))

In [9]:
dados[['scaleGross','scaleNet']] = dados[['scaleGross','scaleNet']].fillna(value=0)
dados[['cellWeight_0','cellWeight_1','cellWeight_2','cellWeight_3','cellWeight_4','cellWeight_5','cellWeight_6','cellWeight_7']] = dados[['cellWeight_0','cellWeight_1','cellWeight_2','cellWeight_3','cellWeight_4','cellWeight_5','cellWeight_6','cellWeight_7']].fillna(value=0)
dados[['cellSerialNumber_0']] = dados[['cellSerialNumber_0']].astype(str)
dados[['terminalSerialNumber','scaleSerialNumber']]=dados[['terminalSerialNumber','scaleSerialNumber']].astype(str)

In [ ]:
details=pd.DataFrame(dados.dtypes, columns=['type'])
details['#Nan']=dados.isnull().sum(axis = 0)
details['#uniques']=dados.nunique()

In [ ]:
dados[['scaleGross','scaleNet']] = dados[['scaleGross','scaleNet']].fillna(value=0)
details['#Nan_replaced']=dados.isnull().sum(axis = 0)

In [ ]:
dados[['cellWeight_0','cellWeight_1','cellWeight_2','cellWeight_3','cellWeight_4','cellWeight_5','cellWeight_6','cellWeight_7']] = dados[['cellWeight_0','cellWeight_1','cellWeight_2','cellWeight_3','cellWeight_4','cellWeight_5','cellWeight_6','cellWeight_7']].fillna(value=0)
details['#Nan_cell_weights_at0']=dados.isnull().sum(axis = 0)

In [ ]:

#dados[['cellSerialNumber_0','cellSerialNumber_1','cellSerialNumber_2','cellSerialNumber_3','cellSerialNumber_4','cellSerialNumber_5','cellSerialNumber_6','cellSerialNumber_7']] = dados[['cellSerialNumber_0','cellSerialNumber_1','cellSerialNumber_2','cellSerialNumber_3','cellSerialNumber_4','cellSerialNumber_5','cellSerialNumber_6','cellSerialNumber_7']].astype(str) 
dados[['cellSerialNumber_0']] = dados[['cellSerialNumber_0']].astype(str) 
details['type_converted']=dados.dtypes

In [ ]:
dados[['terminalSerialNumber','scaleSerialNumber']]=dados[['terminalSerialNumber','scaleSerialNumber']].astype(str)
details['#nunqiues_corrected']=dados.nunique()

In [ ]:
details

In [ ]:
dados.head()

### avaliar problema 1: pesagens com valor nulo sendo que as celulas têm peso !

In [ ]:
sempesos=dados[dados.scaleGross == 0]

In [ ]:
sempesos.shape

In [ ]:
teste=sempesos[sempesos.cellSerialNumber_0!= '0']

In [ ]:
teste[teste.cellWeight_1!=0]

### avaliar problema 3: diferença de valores entre a pesagem e a soma (aquela coisa de haver provavelmente uma formula interna deles)

In [12]:
dados.head()

,_id,timestamp,terminalSerialNumber,scaleSerialNumber,scaleGross,scaleNet,cellSerialNumber_0,cellWeight_0,cellSerialNumber_1,cellWeight_1,...,cellSerialNumber_3,cellWeight_3,cellSerialNumber_4,cellWeight_4,cellSerialNumber_5,cellWeight_5,cellSerialNumber_6,cellWeight_6,cellSerialNumber_7,cellWeight_7
0,5cd44e226e264493b0820ae4,2019-05-09 15:50:58,160690,P191021852,0.0,0.0,7450332,0.0,7450333,0.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
1,5cd44e226e2644843d820aed,2019-05-09 15:51:26,160690,P191021852,0.0,0.0,7450332,0.0,7450333,0.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
2,5cd44e236e26442493820af6,2019-05-09 15:51:28,160690,P191021852,0.0,0.0,7450332,0.0,7450333,0.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
3,5cd43e84a61883174cc58471,2019-05-09 14:44:49,160690,P191021852,0.0,0.0,7450338,0.0,7450337,0.0,...,7450341,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,5cd43b3fa618834976c583a1,2019-05-09 14:30:52,160690,P191021852,80.0,80.0,7450332,80.0,7450333,0.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0

In [10]:
ativos=dados[dados.cellSerialNumber_0 != '0']

In [13]:
ativos.scaleSerialNumber.value_counts()

S172601482    910211
S190601082    447277
P191021852    298789
P124303992    130233
P152708882     23016
P192100052      1022
S190601092       128
Name: scaleSerialNumber, dtype: int64

In [17]:
ativos[ativos.scaleGross!=0].scaleSerialNumber.value_counts()

S172601482    665062
S190601082    182960
P191021852     89766
P124303992     87121
P152708882     23012
P192100052       452
S190601092       118
Name: scaleSerialNumber, dtype: int64

In [20]:
somas=ativos[ativos.scaleGross!=0]
somas.head()

,_id,timestamp,terminalSerialNumber,scaleSerialNumber,scaleGross,scaleNet,cellSerialNumber_0,cellWeight_0,cellSerialNumber_1,cellWeight_1,...,cellSerialNumber_3,cellWeight_3,cellSerialNumber_4,cellWeight_4,cellSerialNumber_5,cellWeight_5,cellSerialNumber_6,cellWeight_6,cellSerialNumber_7,cellWeight_7
4,5cd43b3fa618834976c583a1,2019-05-09 14:30:52,160690,P191021852,80.0,80.0,7450332,80.0,7450333,0.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
9,5cd43b4ea61883176ac583ca,2019-05-09 14:31:07,160690,P191021852,80.0,80.0,7450332,0.0,7450333,0.0,...,7450340,-10.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
10,5cd43b42a61883f3cec583aa,2019-05-09 14:30:55,160690,P191021852,70.0,70.0,7450332,10.0,7450333,60.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
11,5cd43b54a618833f95c583dc,2019-05-09 14:31:13,160690,P191021852,80.0,80.0,7450332,0.0,7450333,0.0,...,7450340,70.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
12,5cd43b63a61883e64fc58409,2019-05-09 14:31:28,160690,P191021852,90.0,90.0,7450332,0.0,7450333,0.0,...,7450340,0.0,7450338,20.0,7450337,40.0,7450336,10.0,7450341,30.0

In [33]:
#somas['soma']=somas.sum(axis = 1)
somas['soma']=somas[['cellWeight_0','cellWeight_1','cellWeight_2','cellWeight_3','cellWeight_4','cellWeight_5','cellWeight_6','cellWeight_7']].sum(axis = 1)#df[col_list].sum(axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [36]:
somas[['terminalSerialNumber','scaleSerialNumber','scaleGross','scaleNet','soma','cellWeight_0','cellWeight_1','cellWeight_2','cellWeight_3','cellWeight_4','cellWeight_5','cellWeight_6','cellWeight_7']]

,terminalSerialNumber,scaleSerialNumber,scaleGross,scaleNet,soma,cellWeight_0,cellWeight_1,cellWeight_2,cellWeight_3,cellWeight_4,cellWeight_5,cellWeight_6,cellWeight_7
4,160690,P191021852,80.0,80.0,80.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,160690,P191021852,80.0,80.0,70.0,0.0,0.0,80.0,-10.0,0.0,0.0,0.0,0.0
10,160690,P191021852,70.0,70.0,70.0,10.0,60.0,0.0,0.0,0.0,0.0,0.0,0.0
11,160690,P191021852,80.0,80.0,60.0,0.0,0.0,-10.0,70.0,0.0,0.0,0.0,0.0
12,160690,P191021852,90.0,90.0,100.0,0.0,0.0,0.0,0.0,20.0,40.0,10.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196218,160690,P191021852,1470.0,1470.0,1480.0,1480.0,-150.0,160.0,-10.0,0.0,0.0,0.0,0.0
2196223,160690,P191021852,10.0,10.0,120.0,70.0,60.0,-10.0,0.0,0.0,0.0,0.0,0.0
2196224,160690,P191021852,1630.0,1630.0,1950.0,1950.0,10.0,10.0,-10.0,-10.0,0.0,0.0,0.0
2196230,160690,P191021852,10.0,10.0,340.0,0.0,270.0,-30.0,110.0,-10.0,0.0,0.0,0.0
2196243,160690,P191021852,90.0,90.0,110.0,0.0,0.0,0.0,60.0,0.0,50.0,0.0,0.0

In [34]:
somas.head()

,_id,timestamp,terminalSerialNumber,scaleSerialNumber,scaleGross,scaleNet,cellSerialNumber_0,cellWeight_0,cellSerialNumber_1,cellWeight_1,...,cellWeight_3,cellSerialNumber_4,cellWeight_4,cellSerialNumber_5,cellWeight_5,cellSerialNumber_6,cellWeight_6,cellSerialNumber_7,cellWeight_7,soma
4,5cd43b3fa618834976c583a1,2019-05-09 14:30:52,160690,P191021852,80.0,80.0,7450332,80.0,7450333,0.0,...,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0,80.0
9,5cd43b4ea61883176ac583ca,2019-05-09 14:31:07,160690,P191021852,80.0,80.0,7450332,0.0,7450333,0.0,...,-10.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0,70.0
10,5cd43b42a61883f3cec583aa,2019-05-09 14:30:55,160690,P191021852,70.0,70.0,7450332,10.0,7450333,60.0,...,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0,70.0
11,5cd43b54a618833f95c583dc,2019-05-09 14:31:13,160690,P191021852,80.0,80.0,7450332,0.0,7450333,0.0,...,70.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0,60.0
12,5cd43b63a61883e64fc58409,2019-05-09 14:31:28,160690,P191021852,90.0,90.0,7450332,0.0,7450333,0.0,...,0.0,7450338,20.0,7450337,40.0,7450336,10.0,7450341,30.0,100.0

### avaliar problema 4:Cells with same serial number in different bridges

In [37]:
dados.head()

,_id,timestamp,terminalSerialNumber,scaleSerialNumber,scaleGross,scaleNet,cellSerialNumber_0,cellWeight_0,cellSerialNumber_1,cellWeight_1,...,cellSerialNumber_3,cellWeight_3,cellSerialNumber_4,cellWeight_4,cellSerialNumber_5,cellWeight_5,cellSerialNumber_6,cellWeight_6,cellSerialNumber_7,cellWeight_7
0,5cd44e226e264493b0820ae4,2019-05-09 15:50:58,160690,P191021852,0.0,0.0,7450332,0.0,7450333,0.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
1,5cd44e226e2644843d820aed,2019-05-09 15:51:26,160690,P191021852,0.0,0.0,7450332,0.0,7450333,0.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
2,5cd44e236e26442493820af6,2019-05-09 15:51:28,160690,P191021852,0.0,0.0,7450332,0.0,7450333,0.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0
3,5cd43e84a61883174cc58471,2019-05-09 14:44:49,160690,P191021852,0.0,0.0,7450338,0.0,7450337,0.0,...,7450341,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,5cd43b3fa618834976c583a1,2019-05-09 14:30:52,160690,P191021852,80.0,80.0,7450332,80.0,7450333,0.0,...,7450340,0.0,7450338,0.0,7450337,0.0,7450336,0.0,7450341,0.0

In [38]:
pontes=pd.read_json('devicesinfos_partition1.json')
info_pontes=pontes[['scaleSerialNumber','terminalSerialNumber','scaleCellCount','scaleDataAvailability','timestamp','cell0_serialNumber','cell1_serialNumber','cell2_serialNumber','cell3_serialNumber','cell4_serialNumber','cell5_serialNumber','cell6_serialNumber','cell7_serialNumber']]

In [39]:
info_pontes

,scaleSerialNumber,terminalSerialNumber,scaleCellCount,scaleDataAvailability,timestamp,cell0_serialNumber,cell1_serialNumber,cell2_serialNumber,cell3_serialNumber,cell4_serialNumber,cell5_serialNumber,cell6_serialNumber,cell7_serialNumber
0,P191021852,160690,8.0,"00:data ready (2020/05/22 18:16:38,756)",2020-05-22 16:16:38,7450332.0,7450333.0,7450339.0,7450340.0,7450338.0,7450337.0,7450336.0,7450341.0
1,S172601482,SN000001,8.0,"00:data ready (2019/12/16 09:26:22,203)",2019-12-16 08:26:22,99019901.0,99019902.0,99019903.0,99019904.0,99019905.0,99019906.0,99019907.0,99019908.0
2,S094400502,SN000002,0.0,00:data ready,2019-05-27 08:29:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00000000,SN000002,NaN,01:data not ready,2019-05-27 08:29:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,None,SN000002,NaN,01:data not ready,2019-11-15 17:49:57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,00000000,SNT00001,NaN,01:data not ready,2019-07-26 09:35:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,P083500022,SN00000050,NaN,01:data not ready,2019-11-26 07:39:35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,P192100052,SN00000050,16.0,"00:data ready (2019/07/29 10:42:00,745)",2019-07-29 08:42:00,99019901.0,99019902.0,99019903.0,99019904.0,99019905.0,99019906.0,99019907.0,99019908.0
8,S190601092,SN000002,1.0,00:data ready,2019-06-05 12:29:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,P192100052,SN00000050,16.0,"00:data ready (2019/07/05 15:14:40,681)",2019-07-05 13:14:40,99019901.0,99019902.0,99019903.0,99019904.0,99019905.0,99019906.0,99019907.0,99019908.0
10,P124303992,SN00000050,3.0,"00:data ready (2019/12/10 09:36:05,429)",2019-12-10 08:36:05,13160002.0,13160003.0,19350111.0,NaN,NaN,NaN,NaN,NaN
11,None,SN000001,NaN,01:data not ready,2019-07-02 09:54:43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,P083500022,SN00000050,8.0,"00:data ready (2019/09/09 16:53:51,555)",2019-09-09 14:53:51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,S190601082,SN000002,NaN,01:data not ready,2020-05-22 16:20:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,S190601082,???,8.0,"00:data ready (2019/10/22 14:22:20,785)",2019-10-22 12:22:20,99019901.0,99029902.0,99039903.0,99049904.0,99059905.0,99069906.0,99079907.0,99089908.0
15,P152708882,248288,1.0,"00:data ready (2020/01/10 16:47:37,967)",2020-01-10 15:47:37,99019901.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,None,248288,NaN,01:data not ready,2020-01-07 14:12:34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
dados[dados['scaleSerialNumber']=='P083500022'].cellSerialNumber_0.value_counts()

0    88768
Name: cellSerialNumber_0, dtype: int64

In [ ]:
dados['cellSerialNumber_0'].unique()

In [ ]:

teste=dados[['cellSerialNumber_0']].astype(str)

In [ ]:
dados.shape[0]

In [ ]:
dados[['cellSerialNumber_0']].head(25)

In [ ]:
str(int(dados['cellSerialNumber_0'][0]))#.astype(int)

estrategia:
- cell id ja foram descartados porque sao todos unicos ou nan para a totalidade de pesagens
- os scalegross e scale net foram preenchidos com valor 0
- as cell weighting com nan sao preenchidas a 0
- os serial number estao numericos - converter para string
- terminal serial number tem valores reptidos, conversao para string resolveu

In [ ]:
erro1=dados[dados['scaleGross'].isnull()]

In [ ]:
erro1.cellSerialNumber_0.value_counts().sum()#.sort_values(['cellSerialNumber_0'], ascending=False)

In [ ]:
validar_ids=dados.sort_values(['cellSerialNumber_0']).set_index(['cellSerialNumber_0'])#.count()

In [ ]:
validar_ids

informações:
- Ha valores de pesagem (sclaegross/net) com valores>0 e qd as celulas de pesagem nao têm serial number (Nan) ex: 5df09f84e2d52275b7392292
- ha valores de pesagens negaivos ex 5cd9a59a9f4a53cf70f53d0d
- sera que cada ponte tem uma coleçao de celulas especificas? uma celula 0 so se liga com uma expecifica celula 1?

In [ ]:
validar_ids=dados.sort_values(['cellSerialNumber_0']).set_index(['cellSerialNumber_0']).count()

- opçao count apenas salienta que ha nan ha medida que se acrescenta celula

In [ ]:
validar_ids=dados.groupby(['cellSerialNumber_0']).count()

In [ ]:
validar_ids

- opçao nunique mostra que um serial number 0 pode ter mais que 1 serial nuber 1 (nem considerando NAN) logo ao e possivel substituir

In [ ]:
validar_ids=dados.groupby(['cellSerialNumber_0']).nunique()

In [ ]:
validar_ids

In [ ]:
dados[dados['cellSerialNumber_0']=='00000d9c']

In [ ]:
dados[dados['cellSerialNumber_0']=='13160003.0']

In [ ]:
validar_ids.max()

In [ ]:
ordenar no tempo

## Ate aqui assumiu-se nao deitar NaN fora
- substitui-se nan de pesagens por 0
- preservou-se nan de serial number de celulas porque a pesagem tinha valor completo
- eqauciona-se deitar fora se as celulas e pesagem completa for Nan, mas ainda nao ocorreu

# avaliar pontes

estrategia:
- clean dados 
- reajustar problema
- identificar o conceito anomalia (de como a detetam, onde e que ja aconteceu)

In [ ]:
pontes=pd.read_json('devicesinfos_partition1.json')

In [ ]:
pontes.columns

In [ ]:
pontes.scaleSerialNumber.nunique()

In [ ]:
pontes.head()

In [ ]:
info_pontes=pontes[['scaleSerialNumber','terminalSerialNumber','scaleCellCount','scaleDataAvailability','timestamp','cell0_serialNumber','cell1_serialNumber','cell2_serialNumber','cell3_serialNumber','cell4_serialNumber','cell5_serialNumber','cell6_serialNumber','cell7_serialNumber']]

In [ ]:
info_pontes

In [ ]:
info_pontes[['cell0_serialNumber','cell1_serialNumber','cell2_serialNumber','cell3_serialNumber','cell4_serialNumber','cell5_serialNumber','cell6_serialNumber','cell7_serialNumber']]=info_pontes[['cell0_serialNumber','cell1_serialNumber','cell2_serialNumber','cell3_serialNumber','cell4_serialNumber','cell5_serialNumber','cell6_serialNumber','cell7_serialNumber']].astype(str)

In [ ]:
pontes[pontes['scaleSerialNumber']=='P192100052'].nunique()

In [ ]:
info_pontes

In [ ]:
details_pontes=pd.DataFrame(info_pontes.dtypes, columns=['type'])
details_pontes['#Nan']=info_pontes.isnull().sum(axis = 0)
details_pontes['#uniques']=info_pontes.nunique()

In [ ]:
details_pontes

In [ ]:
teste=dados[dados['scaleSerialNumber']=='00000000']#.nunique()
teste

In [ ]:
teste[teste['scaleGross']==0]#.nunique()

In [ ]:
dados[dados['scaleSerialNumber']=='P192100052'].nunique()

In [ ]:
type(testes)

In [ ]:
dados['scaleSerialNumber'].unique()

In [ ]:
info_pontes['scaleSerialNumber'].unique()

In [ ]:
devices['serialNumber'].unique()

In [ ]:
dados['terminalSerialNumber'].unique()

In [ ]:
info_pontes['terminalSerialNumber'].unique()

In [ ]:
devices['terminalSerialNumber'].unique()

In [ ]:
dados['terminalSerialNumber'].value_counts()

In [ ]:
info_pontes.sort_values(['terminalSerialNumber','scaleSerialNumber'])

In [ ]:
info_pontes.groupby(['terminalSerialNumber','scaleSerialNumber']).nunique()

In [ ]:
info_pontes['scaleCellCount'].unique()

In [ ]:
devices.groupby(['terminalSerialNumber','serialNumber']).count()

In [ ]:
dados[['terminalSerialNumber']]=dados[['terminalSerialNumber']].astype(str)

In [ ]:
dados[dados['terminalSerialNumber']=='160690']

In [ ]:
devices=pd.read_json('devices_partition1.json')

In [ ]:
devices.nunique()

In [ ]:
devices.columns

In [ ]:
devices['customerCompany'].value_counts()

In [ ]:
devices['subsidiaryCompany'].value_counts()

In [ ]:
286353+1909891

In [ ]:
819343+1376901

- claramente as cellid variam a cada pesagem - o verdadeiro id das celulas e o serial number

In [ ]:
dados['scaleSerialNumber'].unique()

In [ ]:
dados['scaleSerialNumber'].value_counts()

informaçoes
- ha 11 pontes de pesagem

In [ ]:
ponte1=dados[dados['scaleSerialNumber']=='S173004032']

In [ ]:
ponte1.nunique()

In [ ]:
ponte1=dados[dados['scaleSerialNumber']=='S190601092']
details=pd.DataFrame(ponte1.nunique(), columns=['#uniques'])
details['#Nan']=ponte1.isnull().sum(axis = 0)
details

In [ ]:
ponte1[['scaleGross','scaleNet']] = ponte1[['scaleGross','scaleNet']].fillna(value=0)

In [ ]:
ponte1.isnull().sum(axis = 0)

In [ ]:
ponte1.nunique()

In [ ]:
ponte1

In [55]:
alarmes=pd.read_json('alarms_partition1.json')

In [56]:
alarmes

,_id,serialNumber,counter,errorContext,errorCode,errorInfo,status,timestamp
0,5cda5e95c34b8da610a5b4e8,S172601482,1,Cell - 99019907,1014,205649.6,MANAGED,2019-05-14 06:21:12
1,5cda5f5bc34b8d0a1da5b642,S172601482,2,Scale - S172601482,1015,65740 kg,MANAGED,2019-05-14 06:24:30
2,5cda5f5ec34b8d6a11a5b657,S172601482,3,Cell - 99019907,1014,306416.8,MANAGED,2019-05-14 06:24:31
3,5cda70ac5cfd9c6881d68747,P191021852,10,Scale - P191021852,1008,None,MANAGED,2019-05-14 07:00:00
4,5cdd72926866bdda32f82636,S190601082,1,Cell - 99019901,1022,time out,MANAGED,2019-05-16 14:22:21
...,...,...,...,...,...,...,...,...
1172,5e0df4a448364d9b2d2ef695,P152708882,1,Cell - 99019901,1001,at power up,MANAGED,2019-12-18 17:02:28
1173,5e0df4a444b5fb4d34c211b9,P152708882,2,Scale - P152708882,1001,None,MANAGED,2019-12-18 17:02:28
1174,5e15a255b7b42314f3bfbcca,S190601082,1,Scale - S190601082,1015,76290 kg,MANAGED,2020-01-08 10:29:42
1175,5e15b245716383fdcc529675,S190601082,1,Scale - S190601082,1015,75940 kg,MANAGED,2020-01-08 11:37:42
1176,5e15b24e71638344a052967c,S190601082,2,Scale - S190601082,1015,61720 kg,MANAGED,2020-01-08 11:37:51

In [ ]:
alarmes['errorCode'].nunique()

In [ ]:
alarmes['serialNumber'].nunique()

In [ ]:
devices['serialNumber'].unique()

In [ ]:
devices

## shortcut

In [ ]:
alarmes=pd.read_json('alarms_partition1.json')

In [ ]:
devices=pd.read_json('devices_partition1.json')

In [ ]:
pontes=pd.read_json('devicesinfos_partition1.json')
info_pontes=pontes[['scaleSerialNumber','terminalSerialNumber','scaleCellCount','scaleDataAvailability','timestamp','cell0_serialNumber','cell1_serialNumber','cell2_serialNumber','cell3_serialNumber','cell4_serialNumber','cell5_serialNumber','cell6_serialNumber','cell7_serialNumber']]
info_pontes[['cell0_serialNumber','cell1_serialNumber','cell2_serialNumber','cell3_serialNumber','cell4_serialNumber','cell5_serialNumber','cell6_serialNumber','cell7_serialNumber']]=info_pontes[['cell0_serialNumber','cell1_serialNumber','cell2_serialNumber','cell3_serialNumber','cell4_serialNumber','cell5_serialNumber','cell6_serialNumber','cell7_serialNumber']].astype(str)

In [ ]:
dados2=pd.read_csv('all_weighings_full_cleaned.csv').drop(['Unnamed: 0'],axis=1)

In [ ]:
dados2.head()

# Analise ao device, sem importar quem o usa

In [ ]:
dados=pd.read_csv('all_weighings_full_cleaned_w_cell0.csv')

In [ ]:
dados['scaleSerialNumber'].value_counts()

In [ ]:
dados.to_csv('all_weighings_full_cleaned_w_cell0.csv')

In [47]:
dados2=dados[dados['cellSerialNumber_0']!='0']

In [ ]:
dados2['scaleSerialNumber'].value_counts()

In [ ]:
dados2.to_csv('all_weighings_full_cleaned.csv')

# 124

In [ ]:
focus=dados[dados['scaleSerialNumber']=='P124303992']

In [ ]:
focus.terminalSerialNumber.unique()

In [ ]:
focus['terminalSerialNumber'].value_counts()

In [ ]:
focus2=focus[focus['terminalSerialNumber']=='SN00000050']

In [ ]:
info_pontes[info_pontes['scaleSerialNumber']=='P124303992']

In [ ]:
details_124=pd.DataFrame(focus.dtypes, columns=['type'])
details_124['#Nan']=focus.isnull().sum(axis = 0)
details_124['#uniques']=focus.nunique()
details_124

In [ ]:
focus['cellSerialNumber_0'].unique()

In [ ]:
focus2['cellSerialNumber_0'].unique()

In [ ]:
focus['cellSerialNumber_1'].unique()

In [ ]:
focus2['cellSerialNumber_1'].unique()

In [ ]:
focus['cellSerialNumber_2'].unique()

In [ ]:
focus2['cellSerialNumber_2'].unique()

In [ ]:
focus2.sort_values(['cellSerialNumber_0','cellSerialNumber_1','cellSerialNumber_2']).set_index('cellSerialNumber_0')

In [ ]:
focus2.groupby(['cellSerialNumber_0','cellSerialNumber_1','cellSerialNumber_2']).count()

In [ ]:
focus.groupby(['cellSerialNumber_0','cellSerialNumber_1','cellSerialNumber_2']).count()

notas:
- o serial p124 com terminal 'SN000025' em vez de 'SN00000050' - que e o reconhecido na info, tem todas as celuulas a null
- a info determina que o p124 tem 3 celulas. efetivamnet,e so a ate 3 valores unicos de celulas, ou seja, apenas ha uma ponte do tipo 124??
- de entre as 3 celulas unicas, verifica-se que apenas 305 ocorrencias tem as 3 celulas. e parece que em 62780 ocorrencias a celula 0 falhou
- assume se que a contagem começa sempre da 0 e se alguma falha, o numero e antecedido

# 191

In [48]:
focus=dados2[dados2['scaleSerialNumber']=='P191021852']

In [49]:
focus.shape

(298789, 22)

In [ ]:
info_pontes[info_pontes['scaleSerialNumber']=='P191021852']

In [ ]:
devices[devices['serialNumber']=='P191021852']

In [ ]:
erros_ponte=alarmes[alarmes['serialNumber']=='P191021852']
print('scale board replacement')
erros_ponte

In [50]:
focus.terminalSerialNumber.unique()

array(['160690'], dtype=object)

In [ ]:
details_191=pd.DataFrame(focus.dtypes, columns=['type'])
details_191['#uniques']=focus.nunique()
details_191

In [52]:
avaliar=focus.groupby(['cellSerialNumber_0','cellSerialNumber_1','cellSerialNumber_2','cellSerialNumber_3','cellSerialNumber_4','cellSerialNumber_5','cellSerialNumber_6','cellSerialNumber_7']).count()

In [ ]:
avaliar

In [53]:
ocorrencias=avaliar.sort_values(['cellSerialNumber_7','cellSerialNumber_6','cellSerialNumber_5','cellSerialNumber_4','cellSerialNumber_3','cellSerialNumber_2','cellSerialNumber_1','cellSerialNumber_0'],ascending=False)

In [54]:
pd.set_option('display.max_rows', 30)
ocorrencias.head(100)

                                                                                                                                                           _id  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341             72502
                                                                                                                  7450341            0                    1103
                                                                                               7450336            7450341            0                      75
                                                                            7450337            7450336            7450341            0                     172
7450333            7450339            7450340            7450338            7450337            7450336            7450341            0                    1064
...                                                                                                                                                        ...
7450332            7450333            7450340            7450341            0                  0                  0                  0                      12
                                      7450339            7450341            0                  0                  0                  0                      27
7450339            7450340            7450338            7450341            0                  0                  0                  0                     188
7450333            7450340            7450338            7450341            0                  0                  0                  0                      49
7450332            7450340            7450338            7450341            0                  0                  0                  0                      30

                                                                                                                                                         timestamp  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341                 72502
                                                                                                                  7450341            0                        1103
                                                                                               7450336            7450341            0                          75
                                                                            7450337            7450336            7450341            0                         172
7450333            7450339            7450340            7450338            7450337            7450336            7450341            0                        1064
...                                                                                                                                                            ...
7450332            7450333            7450340            7450341            0                  0                  0                  0                          12
                                      7450339            7450341            0                  0                  0                  0                          27
7450339            7450340            7450338            7450341            0                  0                  0                  0                         188
7450333            7450340            7450338            7450341            0                  0                  0                  0                          49
7450332            7450340            7450338            7450341            0                  0                  0                  0                          30

                                                                                                                                                         terminalSerialNumber  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341                            72502
                                                                                                                  7450341            0                                   1103
                                                                                               7450336            7450341            0                                     75
                                                                            7450337            7450336            7450341            0                                    172
7450333            7450339            7450340            7450338            7450337            7450336            7450341            0                                   1064
...                                                                                                                                                                       ...
7450332            7450333            7450340            7450341            0                  0                  0                  0                                     12
                                      7450339            7450341            0                  0                  0                  0                                     27
7450339            7450340            7450338            7450341            0                  0                  0                  0                                    188
7450333            7450340            7450338            7450341            0                  0                  0                  0                                     49
7450332            7450340            7450338            7450341            0                  0                  0                  0                                     30

                                                                                                                                                         scaleSerialNumber  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341                         72502
                                                                                                                  7450341            0                                1103
                                                                                               7450336            7450341            0                                  75
                                                                            7450337            7450336            7450341            0                                 172
7450333            7450339            7450340            7450338            7450337            7450336            7450341            0                                1064
...                                                                                                                                                                    ...
7450332            7450333            7450340            7450341            0                  0                  0                  0                                  12
                                      7450339            7450341            0                  0                  0                  0                                  27
7450339            7450340            7450338            7450341            0                  0                  0                  0                                 188
7450333            7450340            7450338            7450341            0                  0                  0                  0                                  49
7450332            7450340            7450338            7450341            0                  0                  0                  0                                  30

                                                                                                                                                         scaleGross  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341                  72502
                                                                                                                  7450341            0                         1103
                                                                                               7450336            7450341            0                           75
                                                                            7450337            7450336            7450341            0                          172
7450333            7450339            7450340            7450338            7450337            7450336            7450341            0                         1064
...                                                                                                                                                             ...
7450332            7450333            7450340            7450341            0                  0                  0                  0                           12
                                      7450339            7450341            0                  0                  0                  0                           27
7450339            7450340            7450338            7450341            0                  0                  0                  0                          188
7450333            7450340            7450338            7450341            0                  0                  0                  0                           49
7450332            7450340            7450338            7450341            0                  0                  0                  0                           30

                                                                                                                                                         scaleNet  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341                72502
                                                                                                                  7450341            0                       1103
                                                                                               7450336            7450341            0                         75
                                                                            7450337            7450336            7450341            0                        172
7450333            7450339            7450340            7450338            7450337            7450336            7450341            0                       1064
...                                                                                                                                                           ...
7450332            7450333            7450340            7450341            0                  0                  0                  0                         12
                                      7450339            7450341            0                  0                  0                  0                         27
7450339            7450340            7450338            7450341            0                  0                  0                  0                        188
7450333            7450340            7450338            7450341            0                  0                  0                  0                         49
7450332            7450340            7450338            7450341            0                  0                  0                  0                         30

                                                                                                                                                         cellWeight_0  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341                    72502
                                                                                                                  7450341            0                           1103
                                                                                               7450336            7450341            0                             75
                                                                            7450337            7450336            7450341            0                            172
7450333            7450339            7450340            7450338            7450337            7450336            7450341            0                           1064
...                                                                                                                                                               ...
7450332            7450333            7450340            7450341            0                  0                  0                  0                             12
                                      7450339            7450341            0                  0                  0                  0                             27
7450339            7450340            7450338            7450341            0                  0                  0                  0                            188
7450333            7450340            7450338            7450341            0                  0                  0                  0                             49
7450332            7450340            7450338            7450341            0                  0                  0                  0                             30

                                                                                                                                                         cellWeight_1  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341                    72502
                                                                                                                  7450341            0                           1103
                                                                                               7450336            7450341            0                             75
                                                                            7450337            7450336            7450341            0                            172
7450333            7450339            7450340            7450338            7450337            7450336            7450341            0                           1064
...                                                                                                                                                               ...
7450332            7450333            7450340            7450341            0                  0                  0                  0                             12
                                      7450339            7450341            0                  0                  0                  0                             27
7450339            7450340            7450338            7450341            0                  0                  0                  0                            188
7450333            7450340            7450338            7450341            0                  0                  0                  0                             49
7450332            7450340            7450338            7450341            0                  0                  0                  0                             30

                                                                                                                                                         cellWeight_2  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341                    72502
                                                                                                                  7450341            0                           1103
                                                                                               7450336            7450341            0                             75
                                                                            7450337            7450336            7450341            0                            172
7450333            7450339            7450340            7450338            7450337            7450336            7450341            0                           1064
...                                                                                                                                                               ...
7450332            7450333            7450340            7450341            0                  0                  0                  0                             12
                                      7450339            7450341            0                  0                  0                  0                             27
7450339            7450340            7450338            7450341            0                  0                  0                  0                            188
7450333            7450340            7450338            7450341            0                  0                  0                  0                             49
7450332            7450340            7450338            7450341            0                  0                  0                  0                             30

                                                                                                                                                         cellWeight_3  \
cellSerialNumber_0 cellSerialNumber_1 cellSerialNumber_2 cellSerialNumber_3 cellSerialNumber_4 cellSerialNumber_5 cellSerialNumber_6 cellSerialNumber_7
7450332            7450333            7450339            7450340            7450338            7450337            7450336            7450341                    72502
                                                                                                                  7450341            0                           1103

In [ ]:
72502+1103+75+172+1064+2592+200+235+929

In [ ]:
print('Pesagens na ponte P191021852: '+ str(focus.shape[0]))
print('Pesagens na ponte P191021852 com todas as celulas ativas: ' + str(focus[focus['cellSerialNumber_7']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_7']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Pesagens na ponte P191021852 com 7 celulas ativas: ' + str(focus[focus['cellSerialNumber_6']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_6']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Pesagens na ponte P191021852 com 6 celulas ativas: ' + str(focus[focus['cellSerialNumber_5']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_5']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Pesagens na ponte P191021852 com 5 celulas ativas: ' + str(focus[focus['cellSerialNumber_4']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_4']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Pesagens na ponte P191021852 com 4 celulas ativas: ' + str(focus[focus['cellSerialNumber_3']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_3']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Pesagens na ponte P191021852 com 3 celulas ativas: ' + str(focus[focus['cellSerialNumber_2']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_2']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Pesagens na ponte P191021852 com 2 celulas ativas: ' + str(focus[focus['cellSerialNumber_1']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_1']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Pesagens na ponte P191021852 com 1 celulas ativas: ' + str(focus[focus['cellSerialNumber_0']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_0']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')

print('Pesagens na ponte P191021852 descartadas por não ter celulas ativas: ' + str(320459-focus.shape[0]))

In [51]:
print('Weighing in bridge P191021852: '+ str(focus.shape[0]))
print('Weighing in bridge P191021852 with all cells active: ' + str(focus[focus['cellSerialNumber_7']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_7']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Weighing in bridge P191021852 with 7 active cells: ' + str(focus[focus['cellSerialNumber_6']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_6']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Weighing in bridge P191021852 with 6 active cells: ' + str(focus[focus['cellSerialNumber_5']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_5']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Weighing in bridge P191021852 with 5 active cells: ' + str(focus[focus['cellSerialNumber_4']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_4']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Weighing in bridge P191021852 with 4 active cells: ' + str(focus[focus['cellSerialNumber_3']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_3']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Weighing in bridge P191021852 with 3 active cells: ' + str(focus[focus['cellSerialNumber_2']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_2']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Weighing in bridge P191021852 with 2 active cells: ' + str(focus[focus['cellSerialNumber_1']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_1']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')
print('Weighing in bridge P191021852 with 1 active cells: ' + str(focus[focus['cellSerialNumber_0']!= '0'].shape[0]) + '  '+ str(round((focus[focus['cellSerialNumber_0']!= '0'].shape[0])/focus.shape[0]*100,1)) + '%')

print('Weighing in bridge P191021852 discarded due to no active cells: ' + str(320459-focus.shape[0]))

Weighing in bridge P191021852: 298789
Weighing in bridge P191021852 with all cells active: 72502  24.3%
Weighing in bridge P191021852 with 7 active cells: 78872  26.4%
Weighing in bridge P191021852 with 6 active cells: 86953  29.1%
Weighing in bridge P191021852 with 5 active cells: 94489  31.6%
Weighing in bridge P191021852 with 4 active cells: 107058  35.8%
Weighing in bridge P191021852 with 3 active cells: 132022  44.2%
Weighing in bridge P191021852 with 2 active cells: 184403  61.7%
Weighing in bridge P191021852 with 1 active cells: 298789  100.0%
Weighing in bridge P191021852 discarded due to no active cells: 21670

In [ ]:
#calcular percentagens para X celulas ativas
impasse=focus[focus['cellSerialNumber_6']!= '0']
impasse[impasse['cellSerialNumber_7']== '0'].shape[0]

 avaliar caracterisitcas como:
 - percentagem de vezes que x celula falha
 - avaliar media do valor do peso em pesagens feitas com a totalidade, 7, 6, 5... celulas
 - avaliar tendencias de falha de uma celula com base na falha de outras celulas
 - avaliar fator temporal na falhas: se o processo de falha e sequencial no tempo, e se e posterior a atingir um valor isolado ou cumulativo de peso

### ordenar por data

In [ ]:
ordenado=focus.sort_values(by='timestamp')
ordenado

Gravaçoes de 2019-05-09 14:22:55 ate 2020-05-22 15:40:08

### transformar celulas tipo one hot

In [ ]:
y = pd.get_dummies(focus[['cellSerialNumber_0','cellSerialNumber_1','cellSerialNumber_2','cellSerialNumber_3','cellSerialNumber_4','cellSerialNumber_5','cellSerialNumber_6','cellSerialNumber_7']], prefix='', prefix_sep='')#,'cellSerialNumber_1']])#, prefix='Country')

In [ ]:
y

In [ ]:
y

In [ ]:
teste=y.groupby(y.columns, axis=1).sum()
teste

In [ ]:
focus.head()

In [ ]:
teste['timestamp']=focus.timestamp

In [ ]:
teste

In [ ]:
testeordenado=teste.sort_values(by='timestamp')

In [ ]:
testeordenado

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize =(50,12))
mean_group = testeordenado.iloc[: , [1,2,3,4,5,6,7,8]]#   data.groupby(["ORDERDATE"])["SALES"].median()
plt.plot(mean_group)
plt.title("Time series median")
#plt.legend(teste.columns[1:])
plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.matshow(testeordenado.corr())
plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.matshow(testeordenado.corr(method='spearman'))
plt.show()

In [ ]:
import matplotlib.pyplot as plt

plt.matshow(testeordenado.cov())
plt.show()

In [ ]:
f = plt.figure(figsize=(10, 10))
plt.matshow(testeordenado.corr(), fignum=f.number)
plt.xticks(range(testeordenado.shape[1]), testeordenado.columns, fontsize=14, rotation=45)
plt.yticks(range(testeordenado.shape[1]), testeordenado.columns, fontsize=14)
cb = plt.colorbar()
cb.ax.tick_params(labelsize=14)
plt.title('Correlation Matrix', fontsize=16);

In [ ]:
teste.columns[1:]

In [ ]:
teste.iloc[: , [1,2,3,4,5,6,7,8]]

In [ ]:
Data=focus.drop(['_id','terminalSerialNumber','scaleSerialNumber'],axis=1)#focus[['timestamp','scaleGross','scaleNet']]

In [ ]:
Data.head()

In [ ]:
result = pd.concat([Data, teste], axis=1, sort=False)

In [ ]:
result

### avaliar id iguais

validar_ids=dados.sort_values(['_id','cellId_0']).set_index(['_id','cellId_0']).count()

validar_ids=dados.sort_values(['_id'],ascending=False)#.set_index(['_id'])

dados.groupby(['_id']).size().sort_values(ascending=False)

##### Avaliar contagem de variaveis para msm id = nºx que se repete id

In [ ]:
validar_ids=dados.groupby('cellId_0').count()#.apply(pd.DataFrame.sort_values, '_id')

In [ ]:
validar_ids.sort_values(by=['cellId_0','cellId_1','cellId_2','cellId_3','cellId_4','cellId_5'], ascending=False)

In [ ]:
maybe2=dados[dados['_id']=='5eb0761da4982500078f7abd']
maybe2

##### Avaliar contagem de variaveis UNICAS para msm cell

In [ ]:
validar_ids=dados.groupby('cellId_0').nunique()

In [ ]:
validar_ids=dados.sort_values(['cellId_0']).set_index(['cellId_0'])

In [ ]:
validar_ids=dados.sort_values(['scaleSerialNumber']).set_index(['scaleSerialNumber'])

In [ ]:
validar_ids.max()

In [ ]:
validar_ids

##### Avaliar contagem de variaveis UNICAS para msm id = nºx que se repete id

In [ ]:
validar_ids=dados.groupby('_id').nunique()

In [ ]:
validar_ids.max()

In [ ]:
validar_ids.sort_values(by=['terminalSerialNumber'], ascending=False)

In [ ]:
maybe2=dados[dados['_id']=='5e8e79f931557300072fdafc']
maybe2

informaçoes
- ha muitos duplicados ao nivel do id - deitar fora

In [ ]:
dados_no_duplicates=dados.drop_duplicates()
print(dados.shape)
print(dados_no_duplicates.shape)

In [ ]:
dados_no_duplicates.nunique()

In [ ]:
maybe2=dados_no_duplicates[dados_no_duplicates['_id']=='5e8e79f931557300072fdafc']
maybe2

informaçao:
- como diferente tipos de dados ou casas decimais provocam duplicates, avaliar id unicos de pesagens e fazer inner join com dados
- no fim so se pode ter 871549 pesagens

# dados unicos

In [ ]:
dados_no_duplicates_id=dados.drop_duplicates(subset=['_id'])
print(dados_no_duplicates_id.shape)
#df.drop_duplicates(subset=['bio', 'center', 'outcome'])

In [ ]:
dados_no_duplicates_id.to_csv('weighings.csv')

In [ ]:
dados=pd.read_csv('weighings.csv').drop('Unnamed: 0', axis=1)

In [ ]:
dados.head()

#### avaliar combinaçoes

In [ ]:
validar_ids=dados.groupby('_id').nunique()

In [ ]:
validar_ids=dados.groupby('cellId_2').nunique()

In [ ]:
validar_ids.max()

In [ ]:
details=pd.DataFrame(dados.dtypes, columns=['type'])
details['#Nan']=dados.isnull().sum(axis = 0)
details['#uniques']=dados.nunique()

In [ ]:
details['valida']=details['#uniques']+details['#Nan']

In [ ]:
details

Informaçoes:
- para qq groupby de celula, o maximo de unicos e sempre 1, ou seja a combinaçao cel 0-1-2-3... e sempre unica. um id da celula 1 so da para a celula com id0 certa
- confirmado pelo numeor de unicos+nan ser igual ao totla de pesagens feitas

grave:
- cada nao ha varias pesagens diferentes com o msm id de celulas, ie, nenhuma celeua com mais que uma pesagem

### transformaçao dos dados

- avalair qts pontes têm 2,4,6,8 celulas
- avaliar se ha pontes com celulas impar
- transformaçao das datas + idade da celula
-

In [ ]:
dados.head()

#### Avaliar nº pesagens  para pontes com variavel nº de celulas

In [ ]:
## avalair qts celulas
dados_8=dados[dados['cellId_0'].notnull() & dados['cellId_1'].notnull() & dados['cellId_2'].notnull() & dados['cellId_3'].notnull() & dados['cellId_4'].notnull() & dados['cellId_5'].notnull() & dados['cellId_6'].notnull() & dados['cellId_7'].notnull()]
print('nº weighing with 8 functional cells:' + str(dados_8.shape[0]))

dados_7=dados[dados['cellId_0'].notnull() & dados['cellId_1'].notnull() & dados['cellId_2'].notnull() & dados['cellId_3'].notnull() & dados['cellId_4'].notnull() & dados['cellId_5'].notnull() & dados['cellId_6'].notnull() ]
print('nº weighing with 7 functional cells:' + str(dados_7.shape[0]))

dados_6=dados[dados['cellId_0'].notnull() & dados['cellId_1'].notnull() & dados['cellId_2'].notnull() & dados['cellId_3'].notnull() & dados['cellId_4'].notnull() & dados['cellId_5'].notnull()]
print('nº weighing with 6 functional cells:' + str(dados_6.shape[0]))

dados_5=dados[dados['cellId_0'].notnull() & dados['cellId_1'].notnull() & dados['cellId_2'].notnull() & dados['cellId_3'].notnull() & dados['cellId_4'].notnull()]
print('nº weighing with 5 functional cells:' + str(dados_5.shape[0]))

dados_4=dados[dados['cellId_0'].notnull() & dados['cellId_1'].notnull() & dados['cellId_2'].notnull() & dados['cellId_3'].notnull()]
print('nº weighing with 4 functional cells:' + str(dados_4.shape[0]))

dados_3=dados[dados['cellId_0'].notnull() & dados['cellId_1'].notnull() & dados['cellId_2'].notnull()]
print('nº weighing with 3 functional cells:' + str(dados_3.shape[0]))

dados_2=dados[dados['cellId_0'].notnull() & dados['cellId_1'].notnull()]
print('nº weighing with 2 functional cells:' + str(dados_2.shape[0]))

dados_1=dados[dados['cellId_0'].notnull()]
print('nº weighing with 1 functional cells:' + str(dados_1.shape[0]))

- Há pesagens para pontes com nº impar
- Há 29258 pesagens sem ponte nenhuma
- Para alem de todas as comiançoes de id de celulas serem unicas, nao ha cenarios de falhar celula 0 e ter celula1

In [ ]:
combined = dados.append(dados_1)
combined=combined[~combined.index.duplicated(keep=False)]
print(combined.shape[0])

In [ ]:
combined.head()

In [ ]:
details=pd.DataFrame(combined.nunique(), columns=['nº uniques with cell0 Nan'])
details['n_uniques with cell0']=dados_1.nunique()
details['n_uniques in all']=dados.nunique()

In [ ]:
details

In [ ]:
## nao ha cenario de nao haver cell 0 e ter cell 1
teste=dados[dados['cellId_0'].isnull()]
teste['cellId_2'].unique()

In [ ]:
teste=dados[dados['cellId_1'].isnull()]
teste['cellId_3'].unique()

### Data

In [ ]:
dados.head()

In [ ]:
    df.data= pd.to_datetime(df.data, format='%Y%m%d%H%M%S')
    df['day'] = df['data'].dt.day
    df['Hour'] = df['data'].dt.hour
    df['Minute'] = df['data'].dt.minute
    df['Year'] = df['data'].dt.year
    df['Month'] = df['data'].dt.month
    
    Year=df.Year.unique()[0]
    Month=df.Month.unique()[0]
    Day=df.day.unique()[0]

In [ ]:
dados['data']= pd.to_datetime(dados.timestamp, format='%Y-%m-%d %H:%M:%S.%f')#'%Y%m%d%H%M%S%S%f')

In [ ]:
dados['day'] = dados['data'].dt.day

In [ ]:
dados

## teste bascio PCA

In [ ]:
def encode(data,categorical_features):
    categorical_names = {}
    for feature in categorical_features:
        le = sklearn.preprocessing.LabelEncoder()
        #le.fit(frame2[:, feature])
        #train_numpy_array[:, feature] = le.fit_transform(train_numpy_array[:, feature])
        data[:, feature] = le.fit_transform(data[:, feature])
        categorical_names[feature] = le.classes_
    return data, categorical_names

In [ ]:
prePCA.head()

In [ ]:
prePCA=dados.set_index('_id').drop('timestamp', axis=1)
categorical_features = [0,1,4,5,20]

- Converter data em idade
- transformar id de celulas em se tem 2,4,6,8, impares
- transformar ids em se e a combinaçao 1 ,2, 3 ....

In [ ]:
from sklearn.decomposition import PCA, IncrementalPCA
pcat = PCA()
principalComponentsT = pcat.fit_transform(dados)
pesos= pcat.explained_variance_ratio_
loadingT=pcat.components_.T * np.sqrt(pcat.explained_variance_)